/** FONTS **/

body {
  font-family: 'DM Sans', sans-serif;
}

.font-chango {
  font-family: 'Chango', 'DM Sans', sans-serif;
}

.font-fuzzy {
  font-family: 'Fuzzy Bubbles', cursive;
}

/** COLORS **/

.text-red {
  color: #FF224C;
}

.bg-red {
  background-color: #FF224C;
}

.border-red {
  border: 1px solid #FF224C;
}

.text-purple {
  color: #9129FF;
}

.bg-purple {
  background-color: #9129FF;
}

.border-purple {
  border: 1px solid #9129FF;
}

.bg-light-purple {
  background-color: #DCBAFC;
}

.bg-pink {
  background-color: #FFDCE2;
}

.bg-yellow {
  background-color: #FFB800;
}

.text-yellow {
  color: #FFB800;
}

/** GENERAL **/

.mx-6 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.width-60 {
  width: 60%;
}

.width-35 {
  width: 35px;
}

.big-number {
  font-size: 50px;
}

.my-rounded {
  border-radius: 20px;
}

.pill-button {
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
}

.pill-button:hover {
  background-color: #FFB800;
}

@media (min-width: 768px) {
  .bg-purple-stain {
    background-image: url("./img/purple-stain.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .fs-20 {
    font-size: 20px;
  }

  .fs-24 {
    font-size: 24px;
  }

  .fs-26 {
    font-size: 26px;
  }

  .fs-40 {
    font-size: 40px;
  }

  .video-container {
    position: relative;
    padding-top: 46.87%;
    width: 83.33%;
  }

  .girl-img {
    margin-left: -26%;
  }

  .pill-button {
    padding: .5rem 2.5rem;
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .fs-20 {
    font-size: 16px;
  }

  .fs-24 {
    font-size: 18px;
  }

  .fs-26 {
    font-size: 18px;
  }

  .fs-40 {
    font-size: 28px;
  }

  .video-container {
    position:relative;
    padding-top:56.25%;
    width:100%;
  }

  .pill-button {
    padding: .5rem 1.5rem;
    font-size: 18px;
  }
}

.rotate-5 {
  transform: rotate(-5deg);
}

.rotate-2 {
  transform: rotate(2deg);
}